
.calculator{
    height: 300px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 2.5px solid #000;
    border-radius: 5px;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 45px);
}

